# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.env/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.pid
docker-compose.override.yml
.env.docker
.env.prod
.env.dev

# Others
*.sqlite3
